<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BetterdocChallenge</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <header>
    <div class="col-xs-6">
       <a href="localhost:4000/cases" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/betterdoclogo.png") %>" alt="BetterDoc Logo"/>
        </a>
    </div>
  </header>
  <body>
    <%= @inner_content %>
  </body>
</html>
